---
# main css for all pages
---
@charset "utf-8";

/* load font */
@font-face {
    font-family: 'Allan';
    src: url('fonts/allan/Allan-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* base variables*/
$base-font-family: 'Allan',helvetica,Helvetica, Rockwell,cursive;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$content-font: Georgia, "Bitstream Charter", "URW Bookman L", serif;

$text-color: #111;
$link-color: #B06048; /*#79283F;*/

$main-background: url("{{ site.digurl }}images/bg-2.jpg") repeat scroll 0 0;
$white-back: #fff; 

/* drop shadows */
$shadow-sm: 0px 2px 8px 0px rgba(0,0,0,0.3);
$shadow-lg: 0px 8px 16px 0px rgba(0,0,0,0.6);
$shadow-text: 1px 2px 3px rgba(0,0,0,0.3);
 
/* header varibles */
$title-background: url("{{ site.digurl }}images/body-home2.jpg") repeat scroll 0 0;
$titleh-sm: 60px; 
$titleh-lg: 76px;
$title-padding-sm: 3%;
$title-padding-lg: 7%;
$content-width-sm: 94%;
$content-width-lg: 84%;
$page-padding-sm: 6px;
$page-padding-lg: 10px;

/* campus color scheme varibles */
$c-grey: #5E5E65;
$c-light-grey: lighten($c-grey,45%);
$devin-grey: #bba6aa;
$c-blue: #789AA1;
$c-black: #111;
$c-white: white;

/* widths */
$max-width:    1250px;
$mediumscreen:     780px; 
$largescreen:      1024px;

/* Use media queries like this:
@include media-query($on-palm) {
     .wrapper {
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
 } */
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

/* Import partials from `_sass` */
@import
    "base",
    "packery_index",
    "campusheader",
    "jumpyear",
    "allcollectionsOld",
    "campuscontent",
    "years",
    "campusfooter",
    "end"
;
