
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Argonaut Digital Collection - {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta http-equiv="Content-Language" content="en-us" >
<meta name="author" content="University of Idaho Library" >
<meta name="keywords" content="University of Idaho, Student Newspaper, History, Historical Photographs, students, campus, alumni, sports, life, culture " >
<meta name="description" content="A digital collection of nearly 6,000 issues of University of Idaho's student newspaper, The Argonaut, spanning more than a hundred years from 1898 to 2010.">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Allan:700' rel="stylesheet" >
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> 
