/* styles for packery index page */
.news {
    width:100%;  
    margin: 0 auto;
    * { box-sizing: border-box; } 
    }
.masthead {
    text-align: center;
    img { 
        width: 100%; 
    }
}
.banner {
    border-bottom: 2px solid $c-grey;
    border-top: 2px solid $c-grey;
    padding: 5px;
    h3 { 
        font-size: 20px;
        line-height: .75;
     }
    .arrow { 
        font-size: 30px;
        color:$c-blue;
        text-shadow: $shadow-text;
    }
}
#i-refresh {
    float: left;
}
.i-menu {
    float:right;
}
.i-button {
    cursor: pointer;
    background-color: $c-blue;
    color: $c-white;
    border-radius: 5px;
    box-shadow:$shadow-sm;
    font-size: 14px;
    display:inline;
    padding: 5px;
    line-height: 1;
}
/* index nav box */
.i-nav {
    p { 
        font-size: 12px;
        text-align: left; 
        }
}
#i-jumpyear {
    #openyears {
        a { 
            padding: 5px 5px;
            border-radius: 5px;
            border-style: none none none none;
            color: $c-white;
            background-color:$c-blue;
            margin-left: 0 0 0 10px;
        }

    }
    .yearsmenu {
        position: initial;
    }
    .years {
       top: initial;
       right: 8%;
       text-align: left; 
    }
    li {
       margin-top: 0px;
       margin-left: 0px; 
    }
}
/* headline story */
.headline {
    margin: 10px 0;
    border: solid 1px $c-light-grey;
    border-radius: 2px;
    padding: 2px 3px;
    h4 {
        font-size: 14px;
    }
    p {
        font-size: 10px;
    }
}

@include media-query($mediumscreen) {
    .masthead {
    }
    .banner {
        padding: 15px;
        h3 { 
            font-size: 55px;
            //line-height: 1.5; 
        }
        .arrow { font-size: 65px; }
    }
    .i-button { 
        font-size: 25px;
        padding: 10px;
        //margin-top: 18px; 
    }
    .headline {
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
}
/* .show {display:block;} necessary for js nav dropdown, included at _end.scss to ensure cascading */

/* styles for highlights in packery */
/* use grid-sizer and gutter-sizer to set columnWidth and gutter options, allows media queries to set the widths */
.grid-sizer { width: 20%; }
.gutter-sizer { width: 1%; }
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
/* grid item styles, set to responsive %. initially all grid-items are hidden, script picks random to display */
.grid-item {
    float: left;
    width: 24%;
    display:none;
    border-radius: 6px;
    cursor: pointer;
}
.grid-xl { width:100%;}
.grid-lg { width:49%;}
.grid-md { width:49%;}
.grid-sm { width:24%;}
.grid img { width:100%;}
/* style title-date to show on click */
.reveal {
    position: absolute;
    top:10%;
    text-align: center;
    margin: 0;
    display:none;
    width: 100%;  
    background: rgba(120, 154, 161, 0.35);
    text-decoration:none;
    font-size: 16px;
    line-height: 1;
    z-index:97;
    color: rgb(178,83,0);
}
/* media for medium screens */
@include media-query($mediumscreen){
    .masthead {
        .subpagetitle {
            font-size: 55px;
            a {
                font-size:65px;
            }
        }
        p { font-size: 30px; }
    }
    .i-nav {
        p { font-size: 18px; }
    }
    .page {
        padding: 15px 10px;
    }
    .reveal { 
        font-size: 24px;
        padding: 25px 0;
        top: 20%;
    }
}
