<!DOCTYPE html>
<html lang="en">
  <head>

  {% include head.html %}
  
  </head>

  <body>
    <header class="site-header">

      <div class="digitalheader">

        <div class="dilogo">
          <a href="http://www.lib.uidaho.edu/digital/index.html" title="University of Idaho Library Digital Initiatives" >
            <img src="http://www.lib.uidaho.edu/digital/bannerlogo_gray_bottom_DM.png" alt="University of Idaho Library Digital Initiatives" >
          </a> 
        </div>

        {% include allcollectionsOld.html %}

      </div>
    </header>

    <div class="contentwrapper">
      
      {{ content }}

    </div>

    {% include footer.html %}

    <script src="js/packery.pkgd.min.js"></script>

    <script src="js/imagesloaded.pkgd.min.js"></script>

    <script>
        {% include js/highlights.js %}
    </script>

    <script>
        {% include js/allCollections.js %}
        {% include js/navbar.js %}
    </script>
    
    {% include analytics.html %}

  </body>

</html>
